@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
};

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.wrapper {
  width: 1060px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

/* Хедер */

.navigation {
  display: flex;
}

.logo-image {
  display: block;
}

.navigation-list {
  max-width: 450px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.user-list {
  min-width: 350px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

/* Мэйн */
/* Добро пожаловать в Седону */

.welcome {
  background-color: #dceaf3;
  background-image: url(../images/index/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/* Преимущества Седоны  */

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-desk {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages-town-image {
  display: block;
}

.town-advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.town-advantages-item {
  width: 400px;
}

.travel-advantages-title,
.town-advantages-title,
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.travel-advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-bridge-image {
  display: block;
}

.travel-advantages-item {
  width: 400px;
}

.advantages-item {
  color: #ffffff;
  background-color: #82b3d3;
}

.travel-advantages-item,
.town-advantages-item {
  color: #333333;
  background-color: #f0f6fa;
}

.advantages-meal {
  background-color: #ffffff;
}

.advantages-road {
  background-color: #e6f0f6;
}

/* Поиск гостиницы */

.hotel-offer-desk {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.btn-search-hotel {
  font-size: 20px;
  line-height: 36px;
}

/* Новостная рассылка */

.index-newsletter {
  color: #ffffff;
  background-color: #406585;
  background-image: url(../images/index/newsletter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.btn-newsletter-submit {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
}

/* Футер */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  max-width: 220px;
  list-style-type: none;
}

.contacts {
  max-width: 350px;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.htmlacademy-logo {
  display: block;
}
/* Каталог */
/* Гостиницы Седоны */

.catalog-header {
  color: #ffffff;
  background-color: #7aa2c6;
  background-image: url(../images/catalog/background-catalog.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrubs {
  list-style-type: none;
}

.breadcrubs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.catalog-submit {
  background-color: #82b3d3;
}

/* Отсортированные гостницы  Седоны  */

.view-toggle-list {
  list-style-type: none;
}

.cards-list {
  list-style-type: none;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.info-type-housing,
.cost-of-housing {
  color: #333333;
}

.btn-to-favorites {
  background-color: #82b3d3;
}

.pagination {
  list-style-type: none;
}

/* Новостная рассылка  */

.newsletter-catalog .newsletter-desk {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
