@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.wrapper {
  width: 1060px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

/* Хедер */

.navigation {
  display: flex;
}
.logo-link{
  display: block;
  height: 70px;
}

.logo-image {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display:block;
  padding:20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 330px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.user-link {
  display: block;
  height: 70px;
  min-width: 42px;
}

.user-btn {
  padding: 9px 15px;
}

/* Мэйн */
/* Добро пожаловать в Седону */

.welcome {
  padding-top:51px;
  padding-bottom: 82px;
  background-color: #dceaf3;
  background-image: url(../images/index/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/* Преимущества Седоны  */

.advantages {
  padding-top: 67px;
}
.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sedona-desk {
  margin: 0;
  margin-bottom: 31px;
}

.advantages-desk {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-text {

}

.advantages-town-image {
  display: block;
}

.town-advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.town-advantages-item {
  width: 400px;
}

.travel-advantages-title,
.town-advantages-title,
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.travel-advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-bridge-image {
  display: block;
}

.travel-advantages-item {
  width: 400px;
}

.advantages-item {
  color: #ffffff;
  background-color: #82b3d3;
}

.travel-advantages-item,
.town-advantages-item {
  color: #333333;
  background-color: #f0f6fa;
}

.advantages-meal {
  background-color: #ffffff;
}

.advantages-road {
  background-color: #e6f0f6;
}

/* Поиск гостиницы */

.search-hotel {
  padding-top: 91px;
}

.search-hotel-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.search-hotel-desk {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.btn-search-hotel {
  display: inline-block;
  min-width: 574px;
  margin-bottom: 93px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
}

/* Новостная рассылка */

.newsletter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.newsletter-desk {
  margin: 0;
  margin-bottom: 56px;
}
.index-newsletter {
  color: #ffffff;
  background-color: #406585;
  background-image: url(../images/index/newsletter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.btn-newsletter-submit {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
}

/* Футер */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 220px;
  list-style-type: none;
}


.social-link {
  display: block;
  min-width: 48px;
  min-height: 40px;
}

.contacts {
  max-width: 350px;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.htmlacademy-logo {
  display: block;
}

/* Каталог */
/* Гостиницы Седоны */

.catalog-header {
  color: #ffffff;
  background-color: #7aa2c6;
  background-image: url(../images/catalog/background-catalog.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 55px;
}

.catalog-header-wrapper {
  margin-top: 35px;
  margin-bottom: 70px;
}
.catalog-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrubs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrubs-item:not(:last-child){
  margin-right: 26px;
}

.breadcrubs-link {
  display: inline-block;
  min-width: 12px;
  min-height: 12px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-submit {
  background-color: #82b3d3;
}

/* Отсортированные гостницы  Седоны  */

.sort-wrapper {
  display: flex;
  margin-bottom: 55px;
}
.search-housing-quantity {
  margin: 0;
  padding: 0;
}
.sort-control {
  display: flex;
  margin-right: 78px;
}
.view-toggle-list {
  display: flex;
  flex-wrap: wrap;
  max-width:210px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.view-toggle-item:not(:last-child) {
  margin-right: 8px;
}

.view-toggle-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
}

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.info-type-housing,
.cost-of-housing {
  color: #333333;
}

.btn-to-favorites {
  background-color: #82b3d3;
}
.card-wrapper {
  margin-bottom: 96px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width:500px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
  align-items: middle;
}

/* Новостная рассылка  */

.newsletter-catalog .newsletter-desk {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
